{% extends 'base.html' %}

{% block title %}
    | Terms Of Use
{% endblock %}

{% block content %}

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Terms Of Use</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">Username</li>
            </ul>
        </div>
    </div>
</div>

<h1>Terms of Use</h1>
<p>By using <strong>Excellent Cars</strong>, you agree to our terms.</p>
<p>We reserve the right to modify these terms at any time.</p>
{% endblock %}